.grid-c1-6 {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.body {
  background-color: var(--background-color);
}

.header-container {
  box-shadow: 1px 5px 5px var(--font-gray);
}

.filter-box {
  padding: 2rem 2rem;
  width: 23rem;
  height: 65rem;
  background-color: var(--background-color);
  box-shadow: 5px 5px 9px 2px var(--font-gray);
}

.filter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.clearall {
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.3rem;
}

.input-range {
  padding: 1rem;
}

.brand-checkbox {
  padding-left: 0.6rem;
}

.brand-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20rem;
}

.rating-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15rem;
}

.sortby-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 6rem;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 1rem;
    justify-content: space-evenly;
} 